.footer {
    background-color: rgb(255, 247, 242);
    border-radius: 15px;
    size: 250px;
}

.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(20px, 2fr));
    size: 250px;
  }
  
  .footer__logo{
    color: var(--title-color);
  }
  
  .footer__title{
    margin-bottom: var(--mb-2);
  }
  
  .footer__logo, .footer__title{
    font-size: var(--h3-font-size);
  }
  
  .footer__link{
    display: inline-block;
    margin-bottom: .75rem;
    color: var(--text-color);
  }
  
  .footer__link:hover{
    color: var(--first-color);
  }
  
  .footer__social{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-3);
  }
  
  .footer__social:hover{
    color: var(--first-color);
  }
  
  .footer__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: #fff;
    margin-top: 1rem;
  }
  